[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
websockets = "*"
pygobject = "*"
flask = {extras = ["async"], version = "*"}
hass-client = "*"
environs = "*"
requests = "*"
cython = "*"
certifi = "*"

[dev-packages]
pyinstaller = "*"
buildozer = "*"
pytest-timeout = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
