[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
websockets = "*"
pygobject = "*"
flask = "*"
hass-client = "*"
environs = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
